.main-profile-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.projects-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}