.card-style{
    background-color: #FFE3B3 !important;
    height: 150px;
    display: flex;
    
}

.ui {
    padding: 15px;
}

.project-header-description {
    overflow: auto;
    height: 40px;
}

.header-image {
    height: 50px;
    width: 100px;
    object-fit: contain;
    padding-top: 10px;
}