.main-project-cont {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description-comment-cont {
  padding: 15px;
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.iframe-cont {
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 100vh;
}

.iframe {
  width: 600px;
  height: 100vh;
}

.descrciption-header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25vw;
  
}

.like-delete-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 150px;
}

.image-container {
    width: 150px;
    object-fit: contain;
    margin-top: 60px;
    
    
}

.project-img{
    border: 1px solid  #FFE3B3;
    border-radius: 100px;
    box-shadow: 5px 5px 10px #888888;
    object-fit: contain;

}

.like-version-container {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-description-header {
  background-color: #ffe3b3;
  height: 80vh;
  width: 50vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  border-radius: 25px;
  box-shadow: 5px 5px 10px #888888;
  
}

.tools-made-by-desc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  padding: 15px;
}

.header {
  display: flex;
  justify-content: center;
  margin-top:50px;
}

.comment-cont {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.all-comment-cont {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.description-box {
  height: 140px;
  overflow: auto;
}
