body{
  background-color: #0ab68b !important;
}

nav {
  background-color: #028174;
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  border: 0 solid black !important;
  border-width: 0 0 2px 0 !important;
}

nav Link {
  text-decoration: none;
  color: white;
}

@media (max-width: 380px) {
  nav {
    height: 45px;
  }
.landing-page {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    padding: 25px !important;
  }
}