body{
  background-color: #0ab68b !important;
  margin: 0;
}


@media (max-width: 380px) {
.landing-page {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    padding: 25px !important;
  }

}